
.App_page{
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	margin:0 auto;
	max-width:1000px;
	overflow:hidden;
}

.App_header{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	border-bottom:2px solid var(--color-primary);

}

@media screen and (max-width: 400px){
	.App_header{flex-direction:column;}
}

.App_title{
	font-size:30px;
	color:inherit;
	font-weight:200;
	text-decoration:none;
}

.App_nav-links-container{
	align-self:flex-end;
}

.App_nav-link{
	color:inherit;
	font-style:bold;
	text-decoration:none;
}

.App_nav-sep{
	margin:0 5px;
	color:color(var(--color-dark) alpha(-50%));
}
