.App_container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.App_header {
  background-color: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
}

.App_nav-layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  line-height: 70px;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 400px) {
  .App_header {
    flex-direction: column;
  }
}

.App_title {
  font-size: 30px;
  color: inherit;
  font-weight: 200;
  text-decoration: none;
}

.App_nav-links-container {
  margin-left: auto;
}

.App_nav-link {
  color: inherit;
  font-style: bold;
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: 0.2s;
}

.App_nav-link:hover {
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.75);
  color: var(--color-primary);
  background-color: var(--color-white);
}

.App_nav-link-active {
  color: var(--color-primary);
  background-color: var(--color-white);
}

.App_nav-link-button {
  border: 1px solid var(--color-white);
}
