.Post{
	box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.43);
	border-radius:5px;
	margin:20px;
	padding:20px;
}

.Post_info-container{
	margin-bottom:10px;
}

.Post_timestamp{
	font-size:14px;
	color:var(--color-dark);
}

.Post_author{
	font-size:18px;
}

.Post_editable{
	font-family: inherit;
	width:100%;
	padding:10px;
	height:200px;
	border:none;
	font-size:16px;
	resize:none;
	box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.75);
	border-radius:3px;
	line-height:20px;
	box-sizing:border-box;
}

.Post_submit-button{
	padding:10px;
	margin-top:5px;
	display:inline-block;
	width:100px;
	background-color: var(--color-primary);
	color: var(--color-white);
	border:none;
	border-radius:5px;
	font-size:20px;
}
